<div class="card" style="width: 10rem;">
    <div class="card-img-top" style="max-height: 6rem; overflow: hidden;">
        <img src="{{libro.imagen}}" alt="Card image cap">
    </div>
    <div class="card-body">
        <h5 class="card-title">{{libro.titulo}}</h5>
        <p class="card-text">
            {{libro.autor}}
            <br>{{libro.editorial}}
            <br>{{libro.coleccion}}
            <br>{{libro.year}}
            <br>{{libro.signatura}}
        </p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>